<script>
  var codeBlocks = document.querySelectorAll("pre.highlight");

  codeBlocks.forEach(function (codeBlock) {
    var copyButton = document.createElement("button");
    copyButton.className = "copy";
    copyButton.type = "button";
    copyButton.ariaLabel = "复制到剪切板";
    copyButton.innerText = "复制到剪切板";

    codeBlock.append(copyButton);

    copyButton.addEventListener("click", function () {
      var code = codeBlock.querySelector("code").innerText.trim();
      window.navigator.clipboard.writeText(code);

      copyButton.innerText = "已复制";
      var fourSeconds = 4000;

      setTimeout(function () {
        copyButton.innerText = "复制到剪切板";
      }, fourSeconds);
    });
  });
</script>
